* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
  border: transparent;
}
header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px black solid;
  margin-bottom: 2.5px;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 1.5rem;
  position: relative;
  bottom: auto;
  width: 100%;
  /*height: 15px;*/
}
li{
  padding: 1.5px;
  list-style: none;
  margin-left: 3.5px;
  color: black;
  border: solid 2px black;
  border-radius: 1.5rem;
  width: 100%;
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
}
.listaDeItemsMenu{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.divImagenDeProgramacion{
  margin: 2.5vh;
}
.titulosH1P{
  text-align: center;
}
.titulosH1P p {
  margin: 0.5vh;
}
.listaExperiencias {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.listaExperiencias li{
  margin: 1vh;
  background-color: beige;
  font-size: 23px;
}
.barraIconosRedes{
  position: fixed;
  bottom: 0;
  gap: 1.5rem;
}
.iconosRedes{
  display: flex;
  flex-direction: row;
}
.iconosRedes img{
  width: 16vh;
  height: 10vh;
  margin: 10px;
}
